---
export const prerender = false;
import { getRelativeLocaleUrl } from "astro:i18n";

import Basehead from "../../components/shared/basehead.astro";
import Navbar from "../../components/shared/navbar.astro";
import AccentBanner from "../../components/shared/accentBanner.astro";
import FilterFormWrapper from "../../components/shop/filter_form_wrapper.astro";
import ProductGridWrapper from "../../components/shop/product_grid_wrapper.astro";
import PageNavbarWrapper from "../../components/shop/page_navbar_wrapper.astro";
import Footer from "../../components/shared/footer.astro";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { DEFAULT_PAGE_SIZE, countAllMatchingRows } from "../../scripts/databaseUtils";

const location = "Shop";
const lang = getLangFromUrl(Astro.url);
const translate = useTranslations(lang);

async function parseFormData() {
	if (Astro.request.method !== "POST") {
		return {
			method: "GET",
			order: "category_asc",
			filters: [""],
		};
	}

	const formData = await Astro.request.formData();
	return {
		method: "POST",
		order: formData.get("order"),
		filters: formData.getAll("filter"),
	};
}
const formData = await parseFormData();

const { slug } = Astro.params;
if (slug === undefined) {
	throw new Error("Shop pagination [slug] is undefined");
}
const redirect404 = () => Astro.redirect(getRelativeLocaleUrl(lang, "404"));

const pageSize = DEFAULT_PAGE_SIZE;
const pageNumber = Number(slug);

if (Number.isNaN(pageNumber) || pageNumber <= 0) {
	redirect404();
}
const numberOfPages = Math.ceil((await countAllMatchingRows()) / pageSize);
if (pageNumber > numberOfPages) {
	redirect404();
}
---

<html lang={lang}>
	<head>
		<Basehead title={`QuynhBio - ${translate("nav.shop")}`} />
		<meta name="generator" content={Astro.generator} />
	</head>

	<body
		class="bg-orange-100 text-stone-800 dark:bg-stone-800 dark:text-orange-100"
	>
		<div class="w-full h-svh">
			<Navbar location={location} />

			<AccentBanner
				title={translate("shop.banner.title")}
				subtitle={translate("shop.banner.subtitle")}
			/>

			<div class="w-full flex items-center justify-center">
				<div
					class="w-full lg:w-4/5 px-8 py-10 flex flex-col lg:flex-row items-start justify-center"
				>
					<FilterFormWrapper lang={lang} formData={formData} />
					<ProductGridWrapper
						lang={lang}
						formData={formData}
						pageNumber={pageNumber}
						pageSize={pageSize}
					/>
				</div>
			</div>

			<div
				class="w-full lg:w-4/5 lg:mx-auto px-8 py-10 pt-0 flex items-center justify-center"
			>
				<PageNavbarWrapper
					lang={lang}
					pageNumber={pageNumber}
					numberOfPages={numberOfPages}
				/>
			</div>

			<Footer />
		</div>
	</body>
</html>
