---
import { Image, getImage } from "astro:assets";
import { getLangFromUrl, getWordOrder } from "../i18n/utils";
import Basehead from "../components/shared/basehead.astro";
import Navbar from "../components/shared/navbar.astro";
import HeroAbout from "../components/about/hero_about.astro";
import Footer from "../components/shared/footer.astro";

const page = "About";
const lang = getLangFromUrl(Astro.url);

import heroImage from "../images/about/about_hero.jpg";
const heroImageAlt = "The Banner Image of the About Page";
---

<html lang="vi">
	<head>
		<Basehead title={`QuynhBio - ${page}`} />
		<meta name="generator" content={Astro.generator} />
	</head>

	<body
		class="bg-orange-100 text-stone-800 dark:bg-stone-800 dark:text-orange-100"
	>
		<div class="w-full h-svh">
			<Navbar location={page} />

			<HeroAbout heroImage={heroImage} firstWord="Mỹ Phẩm" secondWord="Quỳnh Bio" wordOrder={getWordOrder(lang)} />

			<div class="w-full px-8 py-10 flex items-center justify-center">
				<div
					class="w-full lg:w-4/5 px-3.5 flex flex-col items-center justify-center"
				>
					<section
						class="pb-10 max-w-none prose prose-quynhbio dark:prose-invert"
					>
						<h2
							class="not-prose py-10 font-bold text-5xl text-center"
						>
							Về Chúng Tôi
						</h2>

						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing
							elit, sed do eiusmod tempor incididunt ut labore et
							dolore magnam aliquam quaerat voluptatem. Ut enim
							aeque doleamus animo, cum corpore dolemus, fieri
							tamen permagna accessio potest, si aliquod aeternum
							et infinitum impendere malum nobis opinemur.
						</p>
						<p>
							Ullus investigandi veri, nisi inveneris, et
							quaerendi defatigatio turpis est, cum esset accusata
							et vituperata ab Hortensio. Qui liber cum et mortem
							contemnit, qua qui est imbutus quietus esse numquam
							potest. Praeterea bona praeterita grata recordatione
							renovata delectant. Est autem situm in nobis ut et
							voluptates et dolores nasci fatemur e corporis
							voluptatibus et doloribus -- itaque concedo, quod
							modo dicebas, cadere causa, si qui incurrunt,
							numquam.
						</p>
						<p>
							Ullus investigandi veri, nisi inveneris, et
							quaerendi defatigatio turpis est, cum esset accusata
							et vituperata ab Hortensio. Qui liber cum et mortem
							contemnit, qua qui est imbutus quietus esse numquam
							potest. Praeterea bona praeterita grata.
						</p>
					</section>
				</div>
			</div>

			<Footer />
		</div>
	</body>
</html>
