---
import BaseHead from "../components/basehead.astro"
import Navbar from "../components/navbar.astro"
import HeroLanding from "../components/hero_landing.astro";
import FeaturedCards from "../components/featured_cards.astro";
import Faqs from "../components/faqs.astro";
import Footer from "../components/footer.astro";

const page = "Home";

import heroImage from "../images/landing_hero_cropped.jpg"
const heroImageAlt = "The Banner Image of the Landing Page"
---

<html lang="en">
	<head>
		<BaseHead title={`QuynhBio - ${page}`} />
		<meta name="generator" content={Astro.generator} />
	</head>

	<body class="bg-orange-100 text-stone-800 dark:bg-stone-800 dark:text-orange-100">
		<div class="w-svw h-svh">
			<Navbar location={page} />
			<HeroLanding heroImage={heroImage} heroImageAlt={heroImageAlt} />
			<FeaturedCards />
			<Faqs />
			<Footer />
		</div>
	</body>
</html>
