---
import { getLangFromUrl } from "../i18n/utils";
import { getProductByName, getProductById } from "../scripts/databaseUtils";

import Basehead from "../components/shared/basehead.astro";
import Navbar from "../components/shared/navbar.astro";
import HeroLanding from "../components/home/hero_landing.astro";
import FeaturedCards from "../components/home/featured_cards.astro";
import Faqs from "../components/home/faqs.astro";
import Footer from "../components/shared/footer.astro";

const lang = getLangFromUrl(Astro.url);
const page = "Home";

const faqs = [
	{
		question: 'Làm thế nào để tôi chọn được sản phẩm phù hợp?',
		answer: 'Chúng tôi rất sẵn lòng tư vấn cho bạn về việc lựa chọn sản phẩm. Bạn có thể liên hệ trực tiếp với chúng tôi thông qua số điện thoại hoặc email để nhận được sự hỗ trợ tận tâm.'
	},
	{
		question: 'Làm thế nào để tôi cập nhật thông tin về sản phẩm mới và các ưu đãi?',
		answer: 'Để không bỏ lỡ bất kỳ thông tin mới nào, bạn có thể theo dõi các bài viết của chúng tôi thông qua trang Tin Tức hoặc trên trang Facebook Mỹ phẩm Quỳnh Bio.'
	},
	{
		question: 'Tôi có thể hủy đơn hàng hoặc sửa đổi đơn hàng của mình sau khi đã đặt hàng không?',
		answer: 'Chúng tôi sẽ cố gắng hỗ trợ bạn trong việc hủy đơn hàng hoặc thay đổi đơn hàng nếu cần thiết. Vui lòng liên hệ với chúng tôi sớm nhất có thể để được hỗ trợ tốt nhất.'
	},
];

const featuredProducts = [
	await getProductById(1),
	await getProductById(2),
	await getProductById(3),
];
---

<html lang={lang}>
	<head>
		<Basehead title={`QuynhBio - ${page}`} />
		<meta name="generator" content={Astro.generator} />
	</head>

	<body class="bg-orange-100 text-stone-800 dark:bg-stone-800 dark:text-orange-100">
		<div class="w-full h-svh">
			<Navbar location={page} />
			<HeroLanding />
			<FeaturedCards featuredProducts={featuredProducts} />
			<Faqs faqs={faqs} />
			<Footer />
		</div>
	</body>
</html>
