---
import Basehead from "../components/shared/basehead.astro";
import Navbar from "../components/shared/navbar.astro";
import HeroLanding from "../components/home/hero_landing.astro";
import FeaturedCards from "../components/home/featured_cards.astro";
import Faqs from "../components/home/faqs.astro";
import Footer from "../components/shared/footer.astro";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);

const page = "Home";
import heroImage from "../images/landing_hero_cropped.jpg"
const heroImageAlt = "The Banner Image of the Landing Page"

const faqs = [
	{ question: 'Lorem ipsum dolor sit amet?', answer: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem.' },
	{ question: 'Quod idem licet transferre in voluptatem?', answer: 'Ut enim aeque doleamus animo, cum corpore dolemus, fieri tamen permagna accessio potest, si aliquod aeternum et infinitum impendere malum nobis opinemur.' },
	{ question: 'Ullus investigandi veri, nisi inveneris?', answer: 'Praeterea bona praeterita grata recordatione renovata delectant. Est autem situm in nobis ut et voluptates et dolores nasci fatemur e corporis voluptatibus et doloribus -- itaque concedo, quod modo.' },
];
---

<html lang={lang}>
	<head>
		<Basehead title={`QuynhBio - ${page}`} />
		<meta name="generator" content={Astro.generator} />
	</head>

	<body class="bg-orange-100 text-stone-800 dark:bg-stone-800 dark:text-orange-100">
		<div class="w-full h-svh">
			<Navbar location={page} />
			<HeroLanding heroImage={heroImage} heroImageAlt={heroImageAlt} />
			<FeaturedCards />
			<Faqs faqs={faqs} />
			<Footer />
		</div>
	</body>
</html>
